.container {
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 33vw;
  text-align: center;
}

.container img {
  /* object-fit: contain; */
  object-fit: contain;
  /* width: 90%; */
  width: 30vh;
  /* max-height: 70rem; */
}

.container p {
  color: white;
  font-size: 1.25rem;
  font-weight: bold;
}

.container a {
  text-decoration: none;
}
