.container {
  display: flex;
  flex-direction: column;
}

.container img {
  height: 3rem;
}

.container #avatar {
  border-radius: 50rem;
  object-fit: cover;
}

.container a {
  width: 33.33%;
  text-align: center;
}

.container a:hover{
  /* font-weight: bold; */
}

.container .top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #374B17;
  align-items: center;
}

.container .top div {
  width: 33.33%;
  text-align: center;
}

.container .bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #374B17;
  align-items: center;
}

.container .bottom a {
  padding: 1rem;
  font-size: 1.25rem;
  border-bottom: 9px solid #799251;
}

.container a {
  color: white;
  text-decoration: none;
}
